
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="./style.css">
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
		<title>Astro Basics</title>
		
	</head>
	
	<body class="font-sans bg-background-dark text-slate-100 min-h-screen flex flex-col antialiased">
		<slot />
	<script lang="js">
  import "../functions/Script.js";
</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: transparent;
	}
	.bg-primry{
		background:#3c3cf6;
	}
	.bg-background-dark 
	{
    --tw-bg-opacity: 1;
    background-color: #0f172a;
	}
.text-primary:hover {
    --tw-text-opacity: 1;
    color: rgb(60 60 246 / var(--tw-text-opacity, 1));
}
</style>
